--- 
const { 
    title, 
    location, 
    festival_dates, 
    website, 
    featured_image, 
    region, 
    summary, 
    link 
} = Astro.props; 
--- 

<a href={link} class="festival-card">
    
    {featured_image && (
        <div class="card-image-wrapper">
            <img src={featured_image} alt={`Image for ${title}`} class="card-image" />
        </div>
    )}

    <div class="festival-card-content">
        <h2 class="card-title">{title}</h2>
        
        <p class="card-location">{location}</p>
        <p class="card-dates">{festival_dates}</p>
        <p class="card-region-tag">{region}</p>
        <p class="card-summary">{summary}</p>

        {website && (
            <p class="card-external-link">
                <a href={website} target="_blank" rel="noopener noreferrer">View Festival Website</a>
            </p>
        )}
    </div>
</a>
